In [6]:
%pip install pandas
%pip install mysql.connector
%pip install sqlalchemy

Requirement already satisfied: pandas in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\victo\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\victo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: mysql.connector in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (2.2.9)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: sqlalchemy in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\victo\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [7]:

import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [8]:
df_imdb = pd.read_csv('IMDB_top_250_movies.csv')

In [ ]:
df_imdb.head()

In [11]:
params = 'mysql+mysqlconnector://root:root@localhost:3306/IMDB'

In [12]:
engine = create_engine(params, echo=True)

In [17]:
!docker-compose up -d

 Container mysql-01  Starting
 Container mysql-01  Started

In [19]:
df_imdb.to_sql('imdb_stage', con=engine, if_exists='replace', index=False)

2024-05-14 00:27:28,355 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-14 00:27:28,381 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:28,608 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-14 00:27:28,613 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:28,632 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-14 00:27:28,634 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:28,760 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-14 00:27:28,986 INFO sqlalchemy.engine.Engine DESCRIBE `imdb`.`imdb_stage`
2024-05-14 00:27:28,989 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:29,549 INFO sqlalchemy.engine.Engine DESCRIBE `imdb`.`imdb_stage`
2024-05-14 00:27:29,551 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:29,571 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `imdb`
2024-05-14 00:27:29,576 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:29,649 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `imdb`
2024-05-14 00:27:29,651 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:29,746 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `imdb_stage`
2024-05-14 00:27:29,748 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-14 00:27:29,859 INFO sqlalchemy.engine.Engine
DROP TABLE imdb_stage
2024-05-14 00:27:29,861 INFO sqlalchemy.engine.Engine [no key 0.00595s] {}
2024-05-14 00:27:30,011 INFO sqlalchemy.engine.Engine
CREATE TABLE imdb_stage (
	`rank` BIGINT,
	name TEXT,
	year BIGINT,
	rating FLOAT(53),
	genre TEXT,
	certificate TEXT,
	run_time TEXT,
	tagline TEXT,
	budget TEXT,
	box_office TEXT,
	casts TEXT,
	directors TEXT,
	writers TEXT
)


2024-05-14 00:27:30,012 INFO sqlalchemy.engine.Engine [no key 0.00284s] {}
2024-05-14 00:27:30,227 INFO sqlalchemy.engine.Engine INSERT INTO imdb_stage (`rank`, name, year, rating, genre, certificate, run_time, tagline, budget, box_office, casts, directors, writers) VALUES (%(rank)s, %(name)s, %(year)s, %(rating)s, %(genre)s, %(certificate)s, %(run_time)s, %(tagline)s, %(budget)s, %(box_office)s, %(casts)s, %(directors)s, %(writers)s)
2024-05-14 00:27:30,231 INFO sqlalchemy.engine.Engine [generated in 0.02473s] [{'rank': 1, 'name': 'The Shawshank Redemption', 'year': 1994, 'rating': 9.3, 'genre': 'Drama', 'certificate': 'R', 'run_time': '2h 22m', 'tagline': 'Fear can hold you prisoner. Hope can set you free.', 'budget': '25000000', 'box_office': '28884504', 'casts': 'Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,Clancy Brown,Gil Bellows,Mark Rolston,James Whitmore,Jeffrey DeMunn,Larry Brandenburg,Neil Giuntoli,Brian Libby,David Proval,Joseph Ragno,Jude Ciccolella,Paul McCrane,Renee Blaine,Scott Mann', 'directors': 'Frank Darabont', 'writers': 'Stephen King,Frank Darabont'}, {'rank': 2, 'name': 'The Godfather', 'year': 1972, 'rating': 9.2, 'genre': 'Crime,Drama', 'certificate': 'R', 'run_time': '2h 55m', 'tagline': "An offer you can't refuse.", 'budget': '6000000', 'box_office': '250341816', 'casts': 'Marlon Brando,Al Pacino,James Caan,Diane Keaton,Richard S. Castellano,Robert Duvall,Sterling Hayden,John Marley,Richard Conte,Al Lettieri,Abe Vigoda,Talia Shire,Gianni Russo,John Cazale,Rudy Bond,Al Martino,Morgana King,Lenny Montana', 'directors': 'Francis Ford Coppola', 'writers': 'Mario Puzo,Francis Ford Coppola'}, {'rank': 3, 'name': 'The Dark Knight', 'year': 2008, 'rating': 9.0, 'genre': 'Action,Crime,Drama', 'certificate': 'PG-13', 'run_time': '2h 32m', 'tagline': 'Why So Serious?', 'budget': '185000000', 'box_office': '1006234167', 'casts': 'Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Maggie Gyllenhaal,Gary Oldman,Morgan Freeman,Monique Gabriela Curnen,Ron Dean,Cillian Murphy,Chin Han,Nestor Carbonell,Eric Roberts,Ritchie Coster,Anthony Michael Hall,Keith Szarabajka,Colin McFarlane,Joshua Harto', 'directors': 'Christopher Nolan', 'writers': 'Jonathan Nolan,Christopher Nolan,David S. Goyer'}, {'rank': 4, 'name': 'The Godfather Part II', 'year': 1974, 'rating': 9.0, 'genre': 'Crime,Drama', 'certificate': 'R', 'run_time': '3h 22m', 'tagline': "All the power on earth can't change destiny.", 'budget': '13000000', 'box_office': '47961919', 'casts': 'Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,John Cazale,Talia Shire,Lee Strasberg,Michael V. Gazzo,G.D. Spradlin,Richard Bright,Gastone Moschin,Tom Rosqui,Bruno Kirby,Frank Sivero,Francesca De Sapio,Morgana King,Marianna Hill,Leopoldo Trieste', 'directors': 'Francis Ford Coppola', 'writers': 'Francis Ford Coppola,Mario Puzo'}, {'rank': 5, 'name': '12 Angry Men', 'year': 1957, 'rating': 9.0, 'genre': 'Crime,Drama', 'certificate': 'Approved', 'run_time': '1h 36m', 'tagline': 'Life Is In Their Hands -- Death Is On Their Minds!', 'budget': '350000', 'box_office': '955', 'casts': 'Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,E.G. Marshall,Jack Klugman,Edward Binns,Jack Warden,Joseph Sweeney,Ed Begley,George Voskovec,Robert Webber,Rudy Bond,Tom Gorman,James Kelly,Billy Nelson,John Savoca,Walter Stocker', 'directors': 'Sidney Lumet', 'writers': 'Reginald Rose'}, {'rank': 6, 'name': "Schindler's List", 'year': 1993, 'rating': 9.0, 'genre': 'Biography,Drama,History', 'certificate': 'R', 'run_time': '3h 15m', 'tagline': 'Whoever saves one life, saves the world entire.', 'budget': '22000000', 'box_office': '322161245', 'casts': 'Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,Jonathan Sagall,Embeth Davidtz,Malgorzata Gebel,Shmuel Levy,Mark Ivanir,Béatrice Macola,Andrzej Seweryn,Friedrich von Thun,Krzysztof Luft,Harry Nehring,Norbert Weisser,Adi Nitzan,Michael Schneider,Miri Fabian', 'directors': 'Steven Spielberg', 'writers': 'Thomas Keneally,Steven Zaillian'}, {'rank': 7, 'name': 'The Lord of the Rings: The Return of the King', 'year': 2003, 'rating': 9.0, 'genre': 'Action,Adventure,Drama', 'certificate': 'PG-13', 'run_time': '3h 21m', 'tagline': 'The eye of the enemy is moving.', 'budget': '94000000', 'box_office': '1146457748', 'casts': 'Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Noel Appleby,Ali Astin,Sean Astin,David Aston,John Bach,Sean Bean,Cate Blanchett,Billy Boyd,Sadwyn Brophy,Alistair Browning,Marton Csokas,Richard Edge,Jason Fitch,Bernard Hill', 'directors': 'Peter Jackson', 'writers': 'J.R.R. Tolkien,Fran Walsh,Philippa Boyens'}, {'rank': 8, 'name': 'Pulp Fiction', 'year': 1994, 'rating': 8.9, 'genre': 'Crime,Drama', 'certificate': 'R', 'run_time': '2h 34m', 'tagline': "Girls like me don't make invitations like this to just anyone!", 'budget': '8000000', 'box_office': '213928762', 'casts': 'John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,Tim Roth,Amanda Plummer,Laura Lovelace,Phil LaMarr,Frank Whaley,Burr Steers,Ving Rhames,Paul Calderon,Bronagh Gallagher,Rosanna Arquette,Eric Stoltz,Jerome Patrick Hoban,Michael Gilden,Gary Shorelle', 'directors': 'Quentin Tarantino', 'writers': 'Quentin Tarantino,Roger Avary'}  ... displaying 10 of 250 total bound parameter sets ...  {'rank': 249, 'name': 'Gandhi', 'year': 1982, 'rating': 8.0, 'genre': 'Biography,Drama,History', 'certificate': 'PG', 'run_time': '3h 11m', 'tagline': 'His Triumph Changed The World Forever.', 'budget': '22000000', 'box_office': '52767889', 'casts': 'Ben Kingsley,John Gielgud,Rohini Hattangadi,Roshan Seth,Candice Bergen,Edward Fox,Trevor Howard,John Mills,Martin Sheen,Ian Charleson,Günther Maria Halmer,Athol Fugard,Saeed Jaffrey,Geraldine James,Alyque Padamsee,Amrish Puri,Ian Bannen,Michael Bryant', 'directors': 'Richard Attenborough', 'writers': 'John Briley'}, {'rank': 250, 'name': 'Dances with Wolves', 'year': 1990, 'rating': 8.0, 'genre': 'Adventure,Drama,Western', 'certificate': 'PG-13', 'run_time': '3h 1m', 'tagline': 'Inside everyone is a frontier waiting to be discovered.', 'budget': '22000000', 'box_office': '424208848', 'casts': "Kevin Costner,Mary McDonnell,Graham Greene,Rodney A. Grant,Floyd 'Red Crow' Westerman,Tantoo Cardinal,Robert Pastorelli,Charles Rocket,Maury Chaykin,Jimmy Herman,Nathan Lee Chasing His Horse,Michael Spears,Jason R. Lone Hill,Tony Pierce,Doris Leader Charge,Tom Everett,Larry Joshua,Kirk Baltz", 'directors': 'Kevin Costner', 'writers': 'Michael Blake'}]
2024-05-14 00:27:30,563 INFO sqlalchemy.engine.Engine COMMIT

250